[submodule "mrpt_navigation"]
	path = mrpt_navigation
	url = https://github.com/mrpt-ros-pkg/mrpt_navigation
[submodule "multimaster_fkie"]
	path = multimaster_fkie
	url = https://github.com/fkie/multimaster_fkie
[submodule "rosserial"]
	path = rosserial
	url = https://github.com/ros-drivers/rosserial
