[submodule "multimaster_fkie"]
	path = multimaster_fkie
	url = https://github.com/fkie/multimaster_fkie
[submodule "rosserial"]
	path = rosserial
	url = https://github.com/ros-drivers/rosserial
[submodule "mrpt_slam"]
	path = mrpt_slam
	url = git@github.com:bergercookie/mrpt_slam
[submodule "mrpt_navigation"]
	path = mrpt_navigation
	url = git@github.com:bergercookie/mrpt_navigation
[submodule "p2os"]
	path = p2os
	url = https://github.com/allenh1/p2os.git
[submodule "youbot_description"]
	path = youbot_description
	url = https://github.com/mas-group/youbot_description
[submodule "csl_mr_slam"]
	path = csl_mr_slam
	url = git@github.com:bergercookie/csl_mr_slam.git
[submodule "laser_proc"]
	path = laser_proc
	url = https://github.com/ros-perception/laser_proc
[submodule "roslint"]
	path = roslint
	url = https://github.com/ros/roslint
[submodule "csl_pioneer_drivers"]
	path = csl_pioneer_drivers
	url = git@github.com:bergercookie/csl_pioneer_drivers
[submodule "teleop_twist_joy"]
	path = teleop_twist_joy
	url = git@github.com:bergercookie/teleop_twist_joy
[submodule "zeroconf_avahi_suite"]
	path = zeroconf_avahi_suite
	url = https://github.com/stonier/zeroconf_avahi_suite
[submodule "ar_sys"]
	path = ar_sys
	url = https://github.com/Sahloul/ar_sys
[submodule "joystick_drivers"]
	path = joystick_drivers
	url = https://github.com/ros-drivers/joystick_drivers
[submodule "hokuyo_node"]
	path = hokuyo_node
	url = https://github.com/ros-drivers/hokuyo_node
[submodule "zeroconf_msgs"]
	path = zeroconf_msgs
	url = https://github.com/stonier/zeroconf_msgs
[submodule "pose_cov_ops"]
	path = pose_cov_ops
	url = https://github.com/mrpt-ros-pkg/pose_cov_ops
[submodule "camera_umd"]
	path = camera_umd
	url = https://github.com/ktossell/camera_umd
