[submodule "multimaster_fkie"]
	path = multimaster_fkie
	url = https://github.com/fkie/multimaster_fkie
[submodule "rosserial"]
	path = rosserial
	url = https://github.com/ros-drivers/rosserial
[submodule "mrpt_slam"]
	path = mrpt_slam
	url = https://github.com/bergercookie/mrpt_slam
[submodule "mrpt_navigation"]
	path = mrpt_navigation
	url = https://github.com/bergercookie/mrpt_navigation
[submodule "p2os"]
	path = p2os
	url = https://github.com/allenh1/p2os.git
[submodule "youbot_description"]
	path = youbot_description
	url = https://github.com/mas-group/youbot_description
[submodule "csl_mr_slam"]
	path = csl_mr_slam
	url = https://github.com/bergercookie/csl_mr_slam.git
