<?xml version="1.0"?>

<launch>

	<!-- Launch Arguments -->
	<arg name="rosbag_file" default="gmapping_demo/basic_localization_stage.bag"/>
	<arg name="scan_topic" default="/laser_scan"/>

  <!-- Launch Parameters -->
  <param name="/use_sim_time" value="true"/>
	<param name="/base_scan" value="$(arg scan_topic)"/>

	<!-- Nodes to be launched -->
	<node
		pkg="rosbag"
		type="play"
		name="rosbag_player"
		args="--clock $(find topic_provider)/rosbags/$(arg rosbag_file) /base_scan:=$(arg scan_topic)"
		>
	</node>

	<node
		pkg="topic_provider"
		type="topic_provider_node"
		name="topic_provider_node"
		output="screen"
		>
	</node>

</launch>

