<?xml version="1.0"?>

<!--
Mon Sep 26 22:04:08 EEST 2016, Nikos Koukis

Current launchfile provides combines the "setup_experiment.launch" and the
"graphslam_over_topics.launch" launchfiles to execute graphSLAM in an online
fashion

-->

<!-- Arguments that are to be passesd to the other launchfiles -->
<arg
    name="run_online"
    value="true"
    >
</arg>

