<?xml version="1.0"?>

<launch>

    <param name="/use_sim_time" value="true" />

    <node name="rosbag_player" pkg="rosbag" type="play" args="--clock $(find ground_truth_fetcher)/misc/ground_truth_check.bag"/>
    <node name="origin_broadcaster" pkg="ground_truth_fetcher" type="multirobot_tf2_broadcaster.py" />
    <node name="test_ground_truth" pkg="ground_truth_fetcher" type="test_ground_truth.py" />

</launch>

