<?xml version="1.0"?>

<!--
     Launch the necessary nodes to track the robot onboard aruco markers in an
     online setup
-->

<launch>
  <arg name="plumb_dir" value="$(find csl_hw_setup)/launch/plumbing" />
  <arg name="origin_marker_ID" default="mf7" />
  <arg name="gt_ns" default="/ground_truth" />

  <param name="$(arg gt_ns)/origin_marker_ID" value="$(arg origin_marker_ID)" />
  <param name="/ground_truth_ns" value="$(arg gt_ns)" />

  <!-- Initialize roof cameras -->
  <include file="$(arg plumb_dir)/setup_roof_cameras.launch"/>
  <!-- Track the markers' paths -->
  <node name="monitor_gt_paths" pkg="ground_truth_fetcher" type="monitor_gt_paths.py" />


</launch>
